<div class="question__answer">
  <div class="answer">
    <div class="answer__fields">
      <div class="field field--select">
        <label class="label venus" for="input-{{answer.other_person|replace(' ','-')}}">{{answer.other_person}} is {{answer.current_person}}'s</label>
        <select class="input input--select" id="input-{{answer.other_person|replace(' ','-')}}">
           <option value="Select relationship">Select relationship</option>
          {% for option in widget.options %}

            <option value="{{option.value}}">{{option.label}}</option>

          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
