{% set legend = _(answer.label, current_person=answer.current_person, other_person=answer.other_person).split('&hellip;') %}
{% set personName = legend[1]|replace(' of ', '') %}

<div class="question__answer">
  <div class="answer">
    <div class="answer__fields">
      <div class="field field--select">
        <label class="label venus">{{legend[0]}}</span><span>{{legend[1]}}'s</label>
        <select class="input input--select">
          {% for option in widget.options %}
           
            <option value="{{option.value}}">{{option.label}}</option>

          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
