{% import 'macros/helpers.html' as helpers %}

<div class="question">
  <fieldset class="question__fieldset">
    <legend class="question__legend">
      <span class="question__title neptune">
        {%- if question_number -%}
          <span class="question__number">{{question_number}}. </span>
        {% endif %}
        {{question_title|safe}}
      </span>
    </legend>

    {{question_description|safe}}

    <div class="question__answers">
      {%- for answer in question.answers -%}
        {{ answer.schema_item.widget.render(answer) | safe}}
      {%- endfor -%}
    </div>
  </fieldset>
</div>

{% if (question.schema_item.guidance) %}

  {% set question_guidance %}
    {%- for guidance in question.schema_item.guidance -%}
      <ul class="u-m-no">
        {%- for item in guidance.list -%}
          <li>{{item|safe}}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endset %}

  {% with answer_guidance = {
    'id': question.schema_item.id,
    'label': question.schema_item.label,
    'content': question_guidance
  } %}
    {% include 'partials/answer-guidance.html' %}
  {% endwith %}
{% endif %}
